@tailwind base;
@tailwind components;

.mosha__toast {
	width: 85% !important;
	max-width: 400px !important;
	margin-right: 9px !important;
	z-index: 2000;
}

@font-face {
	font-family: "Jost";
	src: url("./assets/fonts/JostThin.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Jost";
	src: url("./assets/fonts/JostMedium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Jost";
	src: url("./assets/fonts/JostBold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Jost";
	src: url("./assets/fonts/JostRegular.ttf") format("truetype");
	font-weight: normal;
}

@tailwind utilities;



